body {
	width: 100%;
	height: 100%;
	margin: auto;
}
#banner-image {
	padding-top: 75px;
	padding-bottom: 50px;
	text-align: center;
	color: #f8f8f8;
	background-image: url("img/intro-bg_1.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
#banner-content {
	padding-top: 6%;
	padding-bottom: 6%;
	margin-top: 12%;
	margin-bottom: 12%;
	background-color: rgba(0, 0, 0, 0.7);
	max-width: 660px;
}
.top {
	padding-top: 100px;
}
.cols {
	color: black;
}
footer {
	position: absolute;
    padding: 10px 0;   
    background-color: #101010;   
    color:#9d9d9d;
    bottom: 0; 
    width: 100%;
}
.footer-bot {
    position: relative;
}